{{ 'component-ajaxcart.css' | asset_url | stylesheet_tag }}
{{ 'handlebars.min.js' | asset_url | script_tag }}
{{ 'ajax-cart.js' | asset_url | script_tag }}

<div id="cartContainer" class="minicart ajaxcart js-minicart"></div>
<script>
    jQuery(document).ready(function() {
        jQuery('#toggleCart').click(function(e){
            e.preventDefault();
            jQuery('.js-minicart').addClass('minicart--is-open');
        });

        ajaxCart.init({
            formSelector: '.js-product-form',
            addToCartSelector: '.js-product-form-submit',
            cartContainer: '.js-minicart',
            cartCountSelector: '.js-cart-count',
            moneyFormat: "{{ shop.money_format }}"
        });
        ajaxCart.load();
    });

    jQuery(document).on('click', '#closeMinicart', function(e){
        e.preventDefault();
        jQuery('#cartContainer').removeClass('minicart--is-open');
    })

    jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        new switcherCurrency().default();    
    });
</script>
<script id="CartEmptyTemplate" type="text/template">
    {% raw %}
        <div class="ajaxcart__header ajaxcart__header--empty">
            <h3 class="ajaxcart__title">{% endraw %}{{ 'mini_cart.title_empty' | t }}{% raw %}</h3>
            <div class="ajaxcart__empty-buttons">
                <a class="button button--empty ajax-continue-shopping" href="/">{% endraw %}{{ 'cart.general.continue_shopping' | t }}{% raw %}</a>
            </div>
            <button class="ajaxcart__close button--icon" id="closeMinicart">
                <i class="icon-close"></i>
            </button>
        </div>
    {% endraw %}
</script>
<script id="CartTemplate" type="text/template">
    {% raw %}
    <div class="ajaxcart__header">
        <h3 role="alert" aria-live="polite" class="ajaxcart__title">{% endraw %}{{ 'mini_cart.title' | t }}{% raw %} <span class="ajaxcart__title-count">{{ cartCount }} {{ cartTitle }}</span>
        </h3>
        <button class="ajaxcart__close button--icon" id="closeMinicart">
            <i class="icon-close"></i>
        </button>
    </div>
   
    <form action="/cart" method="post" novalidate class="ajaxcart__form">
        <div class="ajaxcart__items">
            {{#items}}
            <div class="ajaxcart__item {{keynocolon}}">
                    <div class="ajaxcart__inner" data-line="{{line}}">
                        <div class="ajaxcart__image">
                            <a href="{{url}}" class="ajaxcart__link"><picture class="image-ratio__pic image-ratio__pic--product-item"><img class="image-ratio__img" src="{{img}}" alt=""></picture></a>
                        </div>
                        <div class="ajaxcart__details">
                            <a href="{{url}}" class="ajaxcart__details-name">{{name}}</a>
                            
                            {{#if variants}}
                            <div class="ajaxcart__details-variants">
                                {{#each variants}}
                                    <span class="ajaxcart__details-variant {{name}}"><span class="name">{{name}}: </span>{{value}}</span>    
                                {{/each}}
                            </div>
                            {{/if}}
                            {{#properties}}
                            <div class="ajaxcart__details-properties ajaxcart__product-variants">
                                {{#each this}}
                                {{#if this}}
                                    <span class="ajaxcart__details-meta ajaxcart__product-variant {{@key}}"><span class="name">{{@key}}: </span>{{this}}</span>    
                                {{/if}}
                                {{/each}}
                            </div>
                            {{/properties}}
                            {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                                <span role="alert" aria-live="polite" class="ajaxcart__product-meta">{{ vendor }}</span>
                            {% endraw %}{% endif %}{% raw %}
                        
                            <div class="ajaxcart__action">
                                <div class="ajaxcart__product-price">
                                    {{#if discountsApplied}}
                                        <small class="ajaxcart-item__price-strikethrough"><s>{{{originalPrice}}}</s></small>
                                        <span class="ajaxcart-item__price">{{{finalPrice}}}</span>
                                    {{else}}
                                        <span class="ajaxcart-item__price">{{{finalPrice}}}</span>
                                    {{/if}}
                                
                                    {{#if discountsApplied}}
                                        {{#each discounts}}
                                            <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                                        {{/each}}
                                    {{/if}}
                                </div>
                                <div class="ajaxcart__qty ajaxcart__qty--minicart">
                                    <button aria-labelledby="Quantity Minus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus button--icon" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" title="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
                                        <i class="icon-minus"></i>
                                    </button>
                                    <input type="text" name="updates[]" class="ajaxcart__qty-num ajaxcart__qty-num--minicart" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                    <button aria-labelledby="Quantity Plus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus button--icon" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" title="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                                
                            </div>
                            <div class="ajaxcart__remove">
                                <a aria-labelledby="Remove Product" class="ajaxcart__remove-adjust button--icon white remove" data-line="{{line}}" href="#"><span><i class="icon-close"></i></span></a>
                            </div>
                        </div>
                </div>
            </div>
            {{/items}}

            {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
            <div>
                <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
            </div>
            {% endraw %}{% endif %}{% raw %}
        </div>
        <div class="ajaxcart__footer">
            <div class="ajaxcart__subtotal">
                <p>{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
                <p class="ajaxcart__subtotal-price">{{{ subTotalPrice }}}</p>
            </div>
            <div class="ajaxcart__shipping">
                <span><i class="icon-package"></i></span>
                <p>{% endraw %}{{ 'mini_cart.shipping' | t }}{% raw %}</p>
            </div>
            <div class="buttons">
                <a class="button button--purple ajaxcart__checkout" href="/cart">{% endraw %}{{ 'mini_cart.checkout' | t }}{% raw %}</a>
                {% endraw %}{% if additional_checkout_buttons %}
                    <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %}{% raw %}
            </div>
        </div>
    </form>
    {% endraw %}
</script>
<script id="AjaxQty" type="text/template">
    {% raw %}
        <div class="ajaxcart__qty">
            <button aria-labelledby="Quantity Minus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus button--icon" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" title="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
                <i class="icon-minus"></i>
            </button>
            <input type="text" name="updates[]" class="ajaxcart__qty-num ajaxcart__qty-num--minicart" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
            <button aria-labelledby="Quantity Plus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus button--icon" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" title="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
                <i class="icon-plus"></i>
            </button>
        </div>
    {% endraw %}
</script>
<script id="JsQty" type="text/template">
    {% raw %}
        <div class="ajaxcart__qty js-qty">
            <button aria-labelledby="Quantity Minus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus button--icon" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" title="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
                <i class="icon-minus"></i>
            </button>
            <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}" title="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
            <button aria-labelledby="Quantity Plus" type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus button--icon" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" title="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
                <i class="icon-plus"></i>
            </button>
        </div>
    {% endraw %}
</script>
