<form action="{{ routes.search_url }}" method="get" role="search" class="site-header__search js-search">
    <input
    id="Search"
    type="search"
    name="q"
    class="input input--header site-header__search-input"
    value="{{ search.terms | escape }}"
    placeholder="{{ 'general.search.input_search' | t }}"
    >
    <label for="Search" class="site-header__search-icon hidden--mob">
        {% render 'ob-icon', icon: 'header-input-search', height: '13', width: '13'  %}
    </label>
    <button class="button button--small button--cart hidden--desk site-header__search-btn">{{ 'general.search.name' | t }}</button>
    <input name="options[prefix]" class="hidden" type="hidden" value="last">
</form>

{{ 'search.js' | asset_url | script_tag }}