{% if template.name == 'product' %}
    <title>{{ product.title  }}</title>

{% elsif template.name == 'collection'%}
    <title>{{ collection.title  }}</title>

{% elsif template.name == 'blog' %}
    <title>{{ blog.title  }}</title>

{% elsif template.name == 'article' %}
    <title>{{ article.title  }}</title>

{% elsif template.name == 'page' %}
    <title>{{ page.title  }}</title>

{% elsif template.name == 'index' %}
    <title>Home</title>

{% else %}
    <title>Cripst</title>
        

{% endif %}