{%- if show_newsletter -%}
    <div class="newsletter {{ newsletter_class }}">
        {%- if newsletter_title != blank -%}
            <h6 class="newsletter__title {{ newsletter_title_class }}">{{ newsletter_title }}</h6>
        {%- endif -%}

        {%- assign form_id = 'form-newsletter-' | append: section.id -%}
        {%- form 'customer', id: form_id, class: 'newsletter__form' -%}
            {%- if form.posted_successfully? -%}
                <div class="note note--success h5 text-light">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
            {%- endif -%}

            {%- if form.errors and form.context == snippet_context -%}
                {{ form.errors | default_errors }}
            {%- endif -%}

            <input class="input--transparent newsletter__input" type="email" name="contact[email]" 
                value="{%- if customer -%}{{ customer.email }}{%- endif -%}" 
                placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">

            <button type="submit" class="newsletter__button">
                {% render 'object-icon', icon: 'fly', class: "newsletter__button-icon" %}
            </button>
        {%- endform -%}
    </div>
{%- endif -%}