{%- comment -%}
    Paramaters: 
        + block: Content block standard settings {required}
        + button_class: button custom class {optional}
        + class: modified class for title, subtitle, body and buttons

    Usage:  {%- render 'ob-content', block: block, class: 'banner', button_clas: 'optional' -%}
{%- endcomment -%}

{%- liquid
    if block 
        assign title = block.settings.title
        assign title_size = block.settings.title_size
        assign subtitle = block.settings.subtitle
        assign subtitle_size = block.settings.subtitle_size
        assign body = block.settings.body
        assign body_size = block.settings.body_size
        assign button_text = block.settings.button_text
        assign button_link = block.settings.button_link
        assign button_style = block.settings.button_style
        assign button_icon = block.settings.button_icon
        assign button_text_2 = block.settings.button_text_2
        assign button_link_2 = block.settings.button_link_2
        assign button_style_2 = block.settings.button_style_2
        assign content_horizontal = block.settings.horizontal
        assign content_vertical = block.settings.vertical
        assign content_color = block.settings.content_color
    endif

    assign content_class = "content "
    assign title_class = "content__title"
    assign subtitle_class = "content__subtitle"
    assign body_class = "content__body"
    assign buttons_class = "content__buttons"
    assign content_color_class = 'text-dark'

    if content_vertical != blank 
        assign content_class = content_class | append: ' content--' | append: content_vertical
    endif
        
    if content_horizontal != blank
        assign content_class = content_class | append: ' content--' | append: content_horizontal
    endif

    if content_color != blank
        assign content_color_class = 'text-' | append:  content_color
    endif

    if class != blank
        assign content_class = content_class | append: ' content--' | append: class
        assign title_class = title_class | append: ' content__title--' | append: class
        assign subtitle_class = subtitle_class | append: ' content__subtitle--' | append: class
        assign body_class = body_class | append: ' content__body--' | append: class
        assign buttons_class = buttons_class | append: ' content__buttons--' | append: class 
    endif
%}

<div class="content {{ content_color }}">
    {%- if title != blank -%}
        <h2 class="{{ title_class }} {{ title_size }}">{{ title }}</h2>
    {%- endif -%}

    {%- if subtitle != blank -%}
        <h3 class="{{ subtitle_class }} {{ subtitle_size }}">{{ subtitle }}</h3>
    {%- endif -%}

    {%- if body != blank -%}
        <div class="{{ body_class }} {{ body_size }}">{{ body }}</div>
    {%- endif -%}

    {%- if button_text != blank or button_text_2 != blank -%}
        <div class="{{ buttons_class }}">

            {%- if button_text != blank -%}
                {%- render 'ob-button', text: button_text, href: button_link, button_style: button_style, button_icon: button_icon, custom_class: button_class -%}
            {%- endif -%}

            {%- if button_text_2 != blank -%}
                {%- render 'ob-button', text: button_text_2, href: button_link_2, button_style: button_style_2, icon: button_icon_2, custom_class: button_class -%}
            {%- endif -%}
        </div>
    {%- endif -%}
</div>