{%- comment -%}
    Paramaters:
        + block: Image block standard settings {required}
        + image_size: list of size
        + image_type: style of image object (only for ratio) => image_type: 'ratio'
        + picture_modified: only used with image_type to modified class of picture (for css padding-top)

    => Image with out block settings (or more 2 image in 1 settings)
        + image          ~ block.settings.image
        + image_mobile   ~ block.settings.image_mobile
        + image_link     ~ block.settings.image_link

    Usages:
        {%- render 'ob-image', block: block, image_size: image_size ,image_type: 'ratio', picture_modified: 'hero-banner' -%}
        
{%- endcomment -%}

{%- liquid
    assign image         = image
    assign image_mobile  = image_mobile
    assign image_alt     = image.alt
    assign image_link    = image_link

    if block
        assign image         = block.settings.image
        assign image_mobile  = block.settings.image_mobile
        assign image_alt     = image.alt
        assign image_link    = block.settings.image_link
    endif

    assign image_size    = image_size | split: ','
    assign image_large   = image_size[0]
    assign image_wide    = image_size[1]
    assign image_medium  = image_size[2]
    assign image_small   = image_size[3]

    assign image_class   = ''
    assign picture_class = ''
    assign img_class     = ''

    if image_type == 'ratio'
        assign image_class   = 'image-ratio'
        assign picture_class = 'image-ratio__pic '
        assign img_class     = 'image-ratio__img'

        if picture_modified != blank
            assign picture_class = picture_class | append: 'image-ratio__pic--'  | append: picture_modified
        endif
    endif

    if image_alt == blank
        assign image_alt = 'Crips'
    endif
-%}

<div class="image {{ image_class }}">
    {% if image_link != blank %}
        <a class="link" href="{{ image_link }}">
    {% endif %}
        <picture class="image__pic {{ picture_class }}">
            <!--Large-->
            {%- liquid
                assign image_w  = image.width
                assign image_h  = image.height
                assign size_w   = image_large | split: 'x' | first 
                assign size_h   = image_large | split: 'x' | last 
            -%}

            {%- if image_w >= 2560 -%}
                {%- assign size = '2560x' -%}
                <source media="(min-width: 1921px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {%- elsif image_w >= 1920 -%}
                {%- assign size = '1920x' | append: size_h -%}
                <source media="(min-width: 1681px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {%- elsif image_w >= 1680 -%}
                {%- assign size = '1680x' | append: size_h -%}
                <source media="(min-width: 1481px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {%- elsif image_w >= 1280 -%}
                {%- assign size = '1280x' | append: size_h -%}
                <source media="(min-width: 1025px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {% else %}
                <source media="(min-width: 1025px)" srcset="{{ image | image_url: width: size_w, crop: 'center' }}">
            {%- endif -%}

            <!--Wide-->
            {%- liquid
                assign size_w       = image_wide | split: 'x' | first
                assign size_h       = image_wide | split: 'x' | last 
                assign size_ratio   = size_w  | times: 1.0 | divided_by: size_h
            -%}

            {%- if image_w >= 1024 -%}
                {%- assign size_h = 1024 | divided_by: size_ratio -%}
                {%- assign size = '1024x' | append: size_h -%}
                <source media="(min-width: 961px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {% else %}
                <source media="(min-width: 961px)" srcset="{{ image | image_url: width: size_w, crop: 'center' }}">
            {%- endif -%}

            <!--Medium-->
            {%- liquid
                assign size_w     = image_medium | split: 'x' | first 
                assign size_h     = image_medium | split: 'x' | last 
                assign size_ratio = size_w  | times: 1.0 | divided_by: size_h
            -%}

            {%- if image_w >= 960 -%}
                {%- assign size_h = 960 | divided_by: size_ratio -%}
                {%- assign size = '960x' | append: size_h -%}
                <source media="(min-width: 861px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {% else %}
                <source media="(min-width: 861px)" srcset="{{ image | image_url: width: size_w, crop: 'center' }}">
            {%- endif -%}

            <!--Small-->
            {%- liquid
                if image_mobile
                    assign image_mobile_url = image_mobile | image_url: width: 'master'
    
                    unless image_mobile_url contains 'no-image' and image_mobile_url contains '.gif'
                        assign image = image_mobile
                    endunless

                    assign image_w = image.width
                    assign image_h = image.height

                    assign size_w     = image_small | split: 'x' | first 
                    assign size_h     = image_small | split: 'x' | last 
                    assign size_ratio = size_w  | times: 1.0 | divided_by: size_h
                endif
            -%}

            {%- if image_w >= 860 -%}
                {%- assign size_h = 860 | divided_by: size_ratio -%}
                {%- assign size = '860x' | append: size_h -%}
                <source media="(min-width: 769px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {%- elsif image_w >= 768 -%}
                {%- assign size_h = 768 | divided_by: size_ratio -%}
                {%- assign size = '768x' | append: size_h -%}
                <source media="(min-width: 481px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {%- elsif image_w >= 480 -%}
                {%- assign size_h = 480 | divided_by: size_ratio -%}
                {%- assign size = '480x' | append: size_h -%}
                <source media="(min-width: 375px)" srcset="{{ image | image_url: width: size, crop: 'center' }}">
            {% else %}
                <source media="(min-width: 375px)" srcset="{{ image | image_url: width: size_w, crop: 'center' }}">
            {%- endif -%}
            <source srcset="{{ image | image_url: width: size_w, crop: 'center' }}">
            <img class="image__img  {{ img_class }}" src="{{ image | image_url: width: image_w }}" alt="{{ image_alt }}"/>
        </picture>

    {% if image_link != blank %}
        </a>
    {% endif %}
</div>