{{ "component-product-accordions.css" | asset_url | stylesheet_tag }}

<div class="pdp__accordions">
    {%- if product.description != blank -%}
    <div class="pdp__accordions-item js-pdp-accordions">
        <div class="pdp__accordions-title js-pdp-accordions-trigger h4">
            <span class="pdp__accordions-detail">{{ "products.product.detail" | t }}</span>
            <span class="pdp__accordions-name">{{ "products.product.product_info" | t }}</span>
        </div>
        <div class="pdp__accordions-content">
            <div class="pdp__accordions-content-inner">
                {{ product.description }}
            </div>
        </div>
    </div>
    {%- endif -%} {% if product.metafields.stelly["details"] != blank %}
    <div class="pdp__accordions-item">
        <div class="pdp__accordions-title js-pdp-accordions-trigger h4">
            <span class="pdp__accordions-detail">{{ "products.product.detail" | t }}</span>
            <span class="pdp__accordions-name">{{ "products.product.product_details" | t }}</span>
        </div>
        <div class="pdp__accordions-content">
            <div class="pdp__accordions-content-inner">
                {{ product.metafields.stelly["details"] }}
            </div>
        </div>
    </div>
    {% endif %} {% if product.metafields.stelly["shipping"] != blank %}
    <div class="pdp__accordions-item js-pdp-accordions">
        <div class="pdp__accordions-title js-pdp-accordions-trigger h4">
            <span class="pdp__accordions-detail">{{ "products.product.detail" | t }}</span>
            <span class="pdp__accordions-name">{{ "products.product.shipping" | t }}</span>
        </div>
        <div class="pdp__accordions-content">
            <div class="pdp__accordions-content-inner">
                {{ product.metafields.stelly["shipping"] }}
            </div>
        </div>
    </div>
    {% endif %} {% if product.metafields.stelly["whole_sale"] != blank %}
    <div class="pdp__accordions-item js-pdp-accordions">
        <div class="pdp__accordions-title js-pdp-accordions-trigger h4">
            <span class="pdp__accordions-detail">{{ "products.product.detail" | t }}</span>
            <span class="pdp__accordions-name">{{ "products.product.wholesale" | t }}</span>
        </div>
        <div class="pdp__accordions-content">
            <div class="pdp__accordions-content-inner">
                {{ product.metafields.stelly["whole_sale"] }}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    window.addEventListener("load", () => {
        document.querySelectorAll(".js-pdp-accordions-trigger").forEach((element) => {
            element.addEventListener("click", () => {
                element.parentElement.classList.toggle("is-open");
            });
        });
    });
</script>