<!doctype html>
<html class="no-js"  lang="{{ shop.locale }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% render 'header-title' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="format-detection" content="telephone=no">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- include 'head-css-variables' -%}

    {{ 'shopify-money.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'jquery.cookie.js' | asset_url | script_tag }} 
    {{ 'shopify-money.js' | asset_url | script_tag }}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- render 'shop-currency' -%}
    <script src="/services/javascripts/currencies.js"></script>
    <script src="{{ 'jquery.currencies.min.js'| asset_url }}"></script>
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} store-{{store_name}}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    <div id="PageContainer" class="page-container">
      <header class="header">
          {%- section 'topbar' -%}
          {%- section 'header' -%}
      </header>
      <main class="main" id="MainContent">
          {{ content_for_layout }}
      </main>
      {%- section 'footer' -%}
  </div>
  </body>

  {%- liquid
    render 'theme-icons'
    section 'newletter-modal'
    section 'currency-switcher'
    section 'color-swatches'
  -%}
  
</html>
