{%- liquid
    assign blocks_size = section.blocks.size
    assign background_color = section.settings.background_color
    assign background_image = section.settings.background_image | img_url: 'master'
    assign container_class = 'container'


    if section.settings.max_width == 'full'
        assign container_class = 'container--full'
    endif

    assign section_style = 'style="'

    unless background_image contains 'no-image'
        assign background_image = "background-image: url(image_url);" | replace: 'image_url', background_image
        assign section_style = section_style | append: background_image
    endunless

    if background_color != ''
        assign background_color = 'background-color: #' | replace: '#', background_color
        assign section_style = section_style | append: background_color
    endif

    assign section_style = section_style | append: '"'

-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.spacing_mobile }}px;
    padding-top: {{ section.settings.spacing_mobile }}px;
  }

  @media screen and (min-width: 960px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.spacing_desktop }}px;
      padding-top: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}

{%- if blocks_size > 0 -%} 
    {{ 'section-banner.css' | asset_url | stylesheet_tag }}
    <div class="banner-section section-{{ section.id }}-padding" {{ section_style }}>
        <div class="container {{ container_class }} ">
            <div class="flexbox">
                {%- for block in section.blocks -%} 
                    {%-liquid
                        assign width = "small"
                        if forloop.index == 1
                            assign width = "large"
                        endif    
                    -%}
                    {%- if block.type contains 'content-image' -%} 
                        <div class="banner-section__image flexbox__item flexbox__item--{{ width }} flexbox__item--col">
                            <div class="banner-section__image-inner banner-section__image-inner--overlay">
                                {%- assign assign image_size = '1120x1200,560x600,560x600,560x600' -%}
                                {%- render 'ob-image', block: block, image_size: image_size -%}

                                {%- assign content_wrap_class = 'content__wrap--' | append: block.settings.content_position -%}
                                <div class="content__wrap {{ content_wrap_class }}">
                                    {%- render 'ob-content', block: block -%}
                                </div>
                            </div>
                        </div>
                    {%- endif -%}   
                {%- endfor -%} 
            </div>
        </div>
    </div>
{%- endif -%} 


{%- schema -%} 
    {
        "name": "t:sections.banner_2columns.name",
        "tag": "section",
        "max_blocks": 2,
        "settings": [
            {
                "type": "select",
                "id": "max_width",
                "label": "t:sections.all.width.label",
                "options": [
                    { 
                        "value": "", 
                        "label": "t:sections.all.width.options__1.label" 
                    },
                    { 
                        "value": "full", 
                        "label": "t:sections.all.width.options__2.label" 
                    }
                ],
                "default": ""   
            },
            {
                "type": "select",
                "id": "background_color",
                "label": "t:sections.all.background_color.label",
                "options": [
                    { 
                        "value": "bg-none",
                        "label": "t:sections.all.background_color.options__1.label" 
                    },
                    { 
                        "value": "bg-red",
                        "label": "t:sections.all.background_color.options__2.label" 
                    },
                    { 
                        "value": "bg-blue",
                        "label": "t:sections.all.background_color.options__3.label" 
                    },
                    { 
                        "value": "bg-purple",
                        "label": "t:sections.all.background_color.options__4.label"
                     }
                ],
                "default": "bg-none"
            },
            {
                "type": "range",
                "id": "spacing_desktop",
                "label": "t:sections.all.spacing.desktop.label",
                "info": "t:sections.all.spacing.desktop.info",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 5,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "t:sections.all.spacing.mobile.label",
                "info": "t:sections.all.spacing.mobile.info",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            }
        ],
        "blocks": [
            {
                "type": "content-image",
                "name": "t:sections.banner_2columns.blocks.content_image.name",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.image.header"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:sections.all.block_content.image.primary"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "t:sections.all.block_content.image.mobile"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "t:sections.all.block_content.image.size.label",
                        "info": "t:sections.all.block_content.image.size.info"
                    },
                    {
                        "type": "text",
                        "id": "image_alt",
                        "label": "t:sections.all.block_content.image.alt"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "t:sections.all.block_content.image.link"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "content_position",
                        "label": "t:sections.all.block_content.position.label",
                        "options": [
                            { 
                                "value": "located", 
                                "label": "t:sections.all.block_content.position.options__1" 
                            },
                            { 
                                "value": "below", 
                                "label": "t:sections.all.block_content.position.options__2" 
                            },
                            { 
                                "value": "above", 
                                "label": "t:sections.all.block_content.position.options__3" 
                            }
                        ],
                        "default": "located"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            { 
                                "value": "top", 
                                "label": "t:sections.all.block_content.vertical.options__1.label" 
                            },
                            { 
                                "value": "middle", 
                                "label": "t:sections.all.block_content.vertical.options__2.label" 
                            },
                            { 
                                "value": "bottom", 
                                "label": "t:sections.all.block_content.vertical.options__3.label"
                            }
                        ],
                        "default": "middle",
                        "info": "t:sections.all.block_content.vertical.info"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            {
                                "value": "left", 
                                "label": "t:sections.all.block_content.horizontal.options__1.label" 
                            },
                            { 
                                "value": "center", 
                                "label": "t:sections.all.block_content.horizontal.options__2.label" 
                            },
                            { 
                                "value": "right", 
                                "label": "t:sections.all.block_content.horizontal.options__3.label"
                            }
                        ],
                        "default": "center",
                        "info": "t:sections.all.block_content.horizontal.info"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "content_color",
                        "label": "t:sections.all.block_content.content_color.label",
                        "options": [
                            { 
                                "value": "text-light", 
                                "label": "t:sections.all.block_content.content_color.options__1.label" 
                            },
                            { 
                                "value": "text-dark", 
                                "label": "t:sections.all.block_content.content_color.options__2.label" 
                            }
                        ],
                        "default": "text-light"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "t:sections.all.block_content.title.label",
                        "default": "Banner"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "t:sections.all.block_content.title.title_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "t:sections.all.block_content.subtitle.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "t:sections.all.block_content.subtitle.subtitle_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "t:sections.all.block_content.body.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "t:sections.all.block_content.body.body_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h7"
                    },
                    {
                        "type": "text",
                        "id": "cta_text",
                        "label": "t:sections.all.block_content.cta.text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "cta_style",
                        "label": "t:sections.all.block_content.cta.style.label",
                        "options": [
                            { 
                                "value": "", 
                                "label": "t:sections.all.block_content.cta.style.options_1" 
                            },
                            { 
                                "value": "solid-black", 
                                "label": "t:sections.all.block_content.cta.style.options_2" 
                            },
                            { 
                                "value": "purple", 
                                "label": "t:sections.all.block_content.cta.style.options_3" 
                            },
                            { 
                                "value": "solid-purple", 
                                "label": "t:sections.all.block_content.cta.style.options_4" 
                            },
                            { 
                                "value": "blue", 
                                "label": "t:sections.all.block_content.cta.style.options_5" 
                            },
                            { 
                                "value": "solid-blue", 
                                "label": "t:sections.all.block_content.cta.style.options_6" 
                            },
                            { 
                                "value": "red", 
                                "label": "t:sections.all.block_content.cta.style.options_7" 
                            },
                            { 
                                "value": "solid-red", 
                                "label": "t:sections.all.block_content.cta.style.options_8" 
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "url",
                        "id": "cta_link",
                        "label": "t:sections.all.block_content.cta.link"
                    }                     
                ]
            }
        ],
        "presets": [{
            "name": "t:sections.banner_2columns.name",
            "category": "Banner",
            "blocks": [
                {
                    "type": "content-image"
                },
                {
                    "type": "content-image"
                }
            ]
        }]
    }
{%- endschema -%} 