{%- liquid
    assign blocks_size = section.blocks.size
    assign background_color = section.settings.background_color
    assign border_bottom = section.settings.border_bottom
    assign order_img = section.settings.order_img
    assign button_class = 'button--medium'
    assign section_border_class = ''
    
    if background_color != 'bg-none'
        assign button_class = button_class | append: ' button--white'
    endif

    if border_bottom
        assign section_border_class = 'section-border'
    endif

    if order_img == '1'
        assign order_img_class = 'flexbox--reverse'
    endif

-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.spacing_mobile }}px;
    padding-top: {{ section.settings.spacing_mobile }}px;
  }

  @media screen and (min-width: 960px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.spacing_desktop }}px;
      padding-top: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}

{%- if blocks_size > 0 -%}
    {{ 'section-banner-content.css' | asset_url | stylesheet_tag }}
    <div class="banner-content {{ background_color }}">
        <div class="container">
            <div class="section-{{ section.id }}-padding {{ section_border_class }} banner-content__inner flexbox flexbox--middle {{ order_img_class }}">
                {%- for block in section.blocks -%}
                    {%- if block.type contains 'image' -%}
                        {%- assign flex_item_class = 'flexbox__item--6' -%}
                        {%- if block.settings.img_type == 'large' -%}
                            {%- assign flex_item_class = 'flexbox__item--3' -%}
                        {%- endif -%}
                        <div class="banner-content__image banner-content__image--large flexbox__item {{ flex_item_class }}">
                            {%- assign image_size = '1420x1052,710x526,710x526,710x526' -%}
                            {%- render 'ob-image', block: block, image_size: image_size -%}
                        </div>
                    {%- endif -%}

                    {%- if block.type contains 'content' -%}
                        <div class="flexbox__item flexbox__item--2">
                            <div class="banner-content__text">
                                {%- render 'ob-content', block: block, button_class: button_class -%} 
                            </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}


{% schema %}
    {
        "name": "t:sections.banner_content.name",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "background_color",
                "label": "t:sections.all.background_color.label",
                "options": [
                    { 
                        "value": "bg-none",
                        "label": "t:sections.all.background_color.options__1.label" 
                    },
                    { 
                        "value": "bg-red",
                        "label": "t:sections.all.background_color.options__2.label" 
                    },
                    { 
                        "value": "bg-blue",
                        "label": "t:sections.all.background_color.options__3.label" 
                    },
                    { 
                        "value": "bg-purple",
                        "label": "t:sections.all.background_color.options__4.label"
                     }
                ],
                "default": "bg-none"
            },
            {
                "type": "range",
                "id": "spacing_desktop",
                "label": "t:sections.all.spacing.desktop.label",
                "info": "t:sections.all.spacing.desktop.info",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 5,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "t:sections.all.spacing.mobile.label",
                "info": "t:sections.all.spacing.mobile.info",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            },
            {
                "type": "checkbox",
                "id": "border_bottom",
                "label": "t:sections.all.border.label",
                "default": true
            },
            {
                "type": "select",
                "id": "order_img",
                "label": "t:sections.all.order_img.label",
                "options": [
                    {
                        "value": "1",
                        "label": "t:sections.all.order_img.options__1.label"
                    },
                    {
                        "value": "2",
                        "label": "t:sections.all.order_img.options__2.label"
                    }
                ]
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:sections.all.block_content.image.header",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.image.header"
                    },
                    {
                        "type": "select",
                        "id": "img_type",
                        "label": "t:sections.banner_content.blocks.image.label",
                        "options": [
                            { 
                                "value": "small", 
                                "label": "t:sections.banner_content.blocks.image.options_1" 
                            },
                            { 
                                "value": "large", 
                                "label": "t:sections.banner_content.blocks.image.options_2" 
                            }
                        ],
                        "default": "small"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:sections.all.block_content.image.primary"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "t:sections.all.block_content.image.mobile"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "t:sections.all.block_content.image.size.label",
                        "info": "t:sections.all.block_content.image.size.info"
                    },
                    {
                        "type": "text",
                        "id": "image_alt",
                        "label": "t:sections.all.block_content.image.alt"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "t:sections.all.block_content.image.link"
                    }
                ]
            },
            {
                "type": "content",
                "name": "t:sections.all.block_content.name",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            { 
                                "value": "top", 
                                "label": "t:sections.all.block_content.vertical.options__1.label" 
                            },
                            { 
                                "value": "middle", 
                                "label": "t:sections.all.block_content.vertical.options__2.label" 
                            },
                            { 
                                "value": "bottom", 
                                "label": "t:sections.all.block_content.vertical.options__3.label"
                            }
                        ],
                        "default": "middle",
                        "info": "t:sections.all.block_content.vertical.info"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            {
                                "value": "left", 
                                "label": "t:sections.all.block_content.horizontal.options__1.label" 
                            },
                            { 
                                "value": "center", 
                                "label": "t:sections.all.block_content.horizontal.options__2.label" 
                            },
                            { 
                                "value": "right", 
                                "label": "t:sections.all.block_content.horizontal.options__3.label"
                            }
                        ],
                        "default": "center",
                        "info": "t:sections.all.block_content.horizontal.info"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "content_color",
                        "label": "t:sections.all.block_content.content_color.label",
                        "options": [
                            { 
                                "value": "text-light", 
                                "label": "t:sections.all.block_content.content_color.options__1.label" 
                            },
                            { 
                                "value": "text-dark", 
                                "label": "t:sections.all.block_content.content_color.options__2.label" 
                            }
                        ],
                        "default": "text-light"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "t:sections.all.block_content.title.label",
                        "default": "Banner"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "t:sections.all.block_content.title.title_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h3"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "t:sections.all.block_content.subtitle.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "t:sections.all.block_content.subtitle.subtitle_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "t:sections.all.block_content.body.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "t:sections.all.block_content.body.body_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h7"
                    },
                    {
                        "type": "text",
                        "id": "cta_text",
                        "label": "t:sections.all.block_content.cta.text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "cta_style",
                        "label": "t:sections.all.block_content.cta.style.label",
                        "options": [
                            { 
                                "value": "", 
                                "label": "t:sections.all.block_content.cta.style.options_1" 
                            },
                            { 
                                "value": "solid-black", 
                                "label": "t:sections.all.block_content.cta.style.options_2" 
                            },
                            { 
                                "value": "purple", 
                                "label": "t:sections.all.block_content.cta.style.options_3" 
                            },
                            { 
                                "value": "solid-purple", 
                                "label": "t:sections.all.block_content.cta.style.options_4" 
                            },
                            { 
                                "value": "blue", 
                                "label": "t:sections.all.block_content.cta.style.options_5" 
                            },
                            { 
                                "value": "solid-blue", 
                                "label": "t:sections.all.block_content.cta.style.options_6" 
                            },
                            { 
                                "value": "red", 
                                "label": "t:sections.all.block_content.cta.style.options_7" 
                            },
                            { 
                                "value": "solid-red", 
                                "label": "t:sections.all.block_content.cta.style.options_8" 
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "url",
                        "id": "cta_link",
                        "label": "t:sections.all.block_content.cta.link"
                    }                      
                ]
            }
        ],
        "presets": [{
            "name": "t:sections.banner_content.name",
            "blocks": [
            ]
        }]
    }
{% endschema %}