{%- liquid
    assign blocks_size = section.blocks.size
    assign background_color = section.settings.background_color
    assign slide_number = section.settings.slide_number
    assign max_width = section.settings.max_width
    assign container_class = 'container '
    assign section_inner_class = ''
    assign flickity_btn_class = 'flickity-custom-btn '
    assign category_slide_class = 'flexbox__item '


    case slide_number
        when 3
            assign category_slide_class = category_slide_class | append: 'flexbox__item--3 category__slide--3'
            assign flickity_btn_class = flickity_btn_class | append: 'flickity-custom-btn--3'
            assign container_class = 'container'
            assign section_inner_class = ' flexbox category__inner--3 js-category-carousel-3'
        when 4
            assign flickity_btn_class = flickity_btn_class | append: 'flickity-custom-btn--4'
            assign category_slide_class = category_slide_class | append: 'flexbox__item--4 category__slide--4'
            assign container_class = 'container'
            assign section_inner_class = ' js-category-carousel-4'

        when 5
            assign flickity_btn_class = flickity_btn_class | append: 'flickity-custom-btn--5'
            assign category_slide_class = category_slide_class | append: ' category__slide--5'
            assign section_inner_class = ' js-category-carousel-5'
    endcase

-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.spacing_mobile }}px;
    padding-top: {{ section.settings.spacing_mobile }}px;
  }

  @media screen and (min-width: 960px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.spacing_desktop }}px;
      padding-top: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}

{%- if blocks_size > 0 -%}
    {{ 'section-categories.css' | asset_url | stylesheet_tag }}
    {{ 'component-flickity.css' | asset_url | stylesheet_tag }}
    {{ 'flickity.pkgd.min.js'   | asset_url | script_tag }}

    <div class="category {{ background_color }} section-{{ section.id }}-padding">
        <div class="{{ container_class }}">
            <div class="category__inner {{ section_inner_class }} {{ flickity_btn_class }}">
                {%- for block in section.blocks -%}

                    {%- if block.type contains 'content_col' and slide_number == 3 -%}
                        <div class="category__slide flexbox__item flexbox__item--4">
                            <div class="category__slide-inner">
                                {%- render 'ob-content', block: block -%} 
                            </div>
                        </div>
                    {%- endif -%}
                    
                    {%- if block.type contains 'category_slide' -%}
                        {%- liquid
                            assign category_image = block.settings.image    
                            assign category_link = block.settings.category_link
                            assign overlay = block.settings.overlay
                            assign overlay_class = ''
                            
                            unless category_link
                                assign category_link = '#'
                            endunless

                            if overlay
                                assign overlay_class = 'category__slide-content--overlay'
                            endif

                        -%}
                        <a href="{{ category_link }}" class="category__slide {{ category_item_class }} {{ category_slide_class }}">
                            <div class="category__slide-inner">
                                <div class="category__slide-content {{ overlay_class }}">
                                    {%- render 'ob-content', block: block -%}
                                </div>
                                <div class="category__slide-img">
                                    {%- if category_image != nil -%}
                                        <picture class="product-item__image-pic--feature image-ratio__pic image-ratio__pic--product-item">
                                            <img class="image-ratio__img" src="{{ category_image.src | img_url: '480x' }}" width="{{ category_image.width }}" height="{{ category_image.height }}" alt="{{ category_image.alt }}"/>
                                        </picture>
                                    {%- endif -%}
                                </div>
                            </div>
                        </a>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
    
    {%- if slide_number == 3 -%}
        <script>
            const flkty_3 = new Flickity( '.js-category-carousel-3', {
                wrapAround: true,
                freeScroll: true,
                cellAlign: 'center',
                cellSelector: 'a.category__slide',
                initialIndex: 2,
                arrowShape: {
                    x0: 25,
                    x1: 50, y1: 30,
                    x2: 65, y2: 30,
                    x3: 40
                },
                pageDots: false,
            });
        </script>
    {%- elsif slide_number == 4 -%}
        <script>
            const flkty_4 = new Flickity( '.js-category-carousel-4', {
                wrapAround: true,
                freeScroll: true,
                cellAlign: 'left',
                arrowShape: {
                    x0: 25,
                    x1: 50, y1: 30,
                    x2: 65, y2: 30,
                    x3: 40
                },
                pageDots: false,
            });
        </script>
    {%- elsif slide_number == 5 -%}
        <script>
            const flkty_5 = new Flickity( '.js-category-carousel-5', {
                wrapAround: true,
                freeScroll: true,
                cellAlign: 'center',
                arrowShape: {
                    x0: 25,
                    x1: 50, y1: 30,
                    x2: 65, y2: 30,
                    x3: 40
                },
                pageDots: false,
            });
        </script> 
    {%- endif -%}

{%- endif -%}


{%- schema -%} 
    {
        "name": "t:sections.category_slide.name",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "max_width",
                "label": "t:sections.all.width.label",
                "options": [
                    { 
                        "value": "", 
                        "label": "t:sections.all.width.options__1.label" 
                    },
                    { 
                        "value": "full", 
                        "label": "t:sections.all.width.options__2.label" 
                    }
                ],
                "default": ""   
            },
            {
                "type": "select",
                "id": "background_color",
                "label": "t:sections.all.background_color.label",
                "options": [
                    { 
                        "value": "bg-none",
                        "label": "t:sections.all.background_color.options__1.label" 
                    },
                    { 
                        "value": "bg-red",
                        "label": "t:sections.all.background_color.options__2.label" 
                    },
                    { 
                        "value": "bg-blue",
                        "label": "t:sections.all.background_color.options__3.label" 
                    },
                    { 
                        "value": "bg-purple",
                        "label": "t:sections.all.background_color.options__4.label"
                     }
                ],
                "default": "bg-none"
            },
            {
                "type": "range",
                "id": "spacing_desktop",
                "label": "t:sections.all.spacing.desktop.label",
                "info": "t:sections.all.spacing.desktop.info",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 5,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "t:sections.all.spacing.mobile.label",
                "info": "t:sections.all.spacing.mobile.info",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "slide_number",
                "label": "t:sections.category_slide.settings.slide_number.label",
                "info": "t:sections.category_slide.settings.slide_number.info",
                "min": 3,
                "max": 5,
                "default": 3,
                "step": 1
            }
        ],
        "blocks": [
            {
                "type": "content_col",
                "name": "t:sections.category_slide.blocks.content_col.name",
                "limit": 1,
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            { 
                                "value": "top", 
                                "label": "t:sections.all.block_content.vertical.options__1.label" 
                            },
                            { 
                                "value": "middle", 
                                "label": "t:sections.all.block_content.vertical.options__2.label" 
                            },
                            { 
                                "value": "bottom", 
                                "label": "t:sections.all.block_content.vertical.options__3.label"
                            }
                        ],
                        "default": "middle",
                        "info": "t:sections.all.block_content.vertical.info"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            {
                                "value": "left", 
                                "label": "t:sections.all.block_content.horizontal.options__1.label" 
                            },
                            { 
                                "value": "center", 
                                "label": "t:sections.all.block_content.horizontal.options__2.label" 
                            },
                            { 
                                "value": "right", 
                                "label": "t:sections.all.block_content.horizontal.options__3.label"
                            }
                        ],
                        "default": "center",
                        "info": "t:sections.all.block_content.horizontal.info"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "content_color",
                        "label": "t:sections.all.block_content.content_color.label",
                        "options": [
                            { 
                                "value": "text-light", 
                                "label": "t:sections.all.block_content.content_color.options__1.label" 
                            },
                            { 
                                "value": "text-dark", 
                                "label": "t:sections.all.block_content.content_color.options__2.label" 
                            }
                        ],
                        "default": "text-light"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "t:sections.all.block_content.title.label",
                        "default": "Banner"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "t:sections.all.block_content.title.title_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h3"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "t:sections.all.block_content.subtitle.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "t:sections.all.block_content.subtitle.subtitle_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "t:sections.all.block_content.body.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "t:sections.all.block_content.body.body_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h7"
                    },
                    {
                        "type": "text",
                        "id": "cta_text",
                        "label": "t:sections.all.block_content.cta.text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "cta_style",
                        "label": "t:sections.all.block_content.cta.style.label",
                        "options": [
                            { 
                                "value": "", 
                                "label": "t:sections.all.block_content.cta.style.options_1" 
                            },
                            { 
                                "value": "solid-black", 
                                "label": "t:sections.all.block_content.cta.style.options_2" 
                            },
                            { 
                                "value": "purple", 
                                "label": "t:sections.all.block_content.cta.style.options_3" 
                            },
                            { 
                                "value": "solid-purple", 
                                "label": "t:sections.all.block_content.cta.style.options_4" 
                            },
                            { 
                                "value": "blue", 
                                "label": "t:sections.all.block_content.cta.style.options_5" 
                            },
                            { 
                                "value": "solid-blue", 
                                "label": "t:sections.all.block_content.cta.style.options_6" 
                            },
                            { 
                                "value": "red", 
                                "label": "t:sections.all.block_content.cta.style.options_7" 
                            },
                            { 
                                "value": "solid-red", 
                                "label": "t:sections.all.block_content.cta.style.options_8" 
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "url",
                        "id": "cta_link",
                        "label": "t:sections.all.block_content.cta.link"
                    }                      
                ]
            },
            {
                "type": "category_slide",
                "name": "t:sections.category_slide.blocks.category_card.name",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.image.header"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:sections.all.block_content.image.primary"
                    },
                    {
                        "type": "url",
                        "id": "category_link",
                        "label": "t:sections.all.block_content.image.link"
                    },
                    {
                        "type": "checkbox",
                        "id": "overlay",
                        "label": "t:sections.category_slide.blocks.category_card.settings.overlay.label",
                        "default": false
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            { 
                                "value": "top", 
                                "label": "t:sections.all.block_content.vertical.options__1.label" 
                            },
                            { 
                                "value": "middle", 
                                "label": "t:sections.all.block_content.vertical.options__2.label" 
                            },
                            { 
                                "value": "bottom", 
                                "label": "t:sections.all.block_content.vertical.options__3.label"
                            }
                        ],
                        "default": "bottom",
                        "info": "t:sections.all.block_content.vertical.info"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "t:sections.all.block_content.vertical.label",
                        "options": [
                            {
                                "value": "left", 
                                "label": "t:sections.all.block_content.horizontal.options__1.label" 
                            },
                            { 
                                "value": "center", 
                                "label": "t:sections.all.block_content.horizontal.options__2.label" 
                            },
                            { 
                                "value": "right", 
                                "label": "t:sections.all.block_content.horizontal.options__3.label"
                            }
                        ],
                        "default": "left",
                        "info": "t:sections.all.block_content.horizontal.info"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.all.block_content.header.content_settings"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "t:sections.all.block_content.subtitle.label",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "t:sections.all.block_content.subtitle.subtitle_size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "text",
                        "id": "cta_text",
                        "label": "t:sections.all.block_content.cta.text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "cta_style",
                        "label": "t:sections.all.block_content.cta.style.label",
                        "options": [
                            { 
                                "value": "", 
                                "label": "t:sections.all.block_content.cta.style.options_1" 
                            },
                            { 
                                "value": "solid-black", 
                                "label": "t:sections.all.block_content.cta.style.options_2" 
                            },
                            { 
                                "value": "purple", 
                                "label": "t:sections.all.block_content.cta.style.options_3" 
                            },
                            { 
                                "value": "solid-purple", 
                                "label": "t:sections.all.block_content.cta.style.options_4" 
                            },
                            { 
                                "value": "blue", 
                                "label": "t:sections.all.block_content.cta.style.options_5" 
                            },
                            { 
                                "value": "solid-blue", 
                                "label": "t:sections.all.block_content.cta.style.options_6" 
                            },
                            { 
                                "value": "red", 
                                "label": "t:sections.all.block_content.cta.style.options_7" 
                            },
                            { 
                                "value": "solid-red", 
                                "label": "t:sections.all.block_content.cta.style.options_8" 
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "url",
                        "id": "cta_link",
                        "label": "t:sections.all.block_content.cta.link"
                    }               
                ]
            }
        ],
        "presets": [{
            "name": "t:sections.category_slide.presets.name",
            "blocks": []
        }]
    }
{%- endschema -%} 