{% liquid
	assign background_color = section.settings.background_color
	assign title = section.settings.title
	assign title_size = section.settings.title_size
	assign limit = section.settings.limit
	assign desktop_cols = section.settings.desktop_cols
	assign carousel_destop = section.settings.carousel_destop
	assign collection = collections[section.settings.collection]
	assign carousel_class = 'flexbox'
	assign flickity_btn_class = 'flickity-custom-btn '

	if carousel_destop
		assign carousel_class = 'js-featured-collection-carousel'
		assign flickity_btn_class = flickity_btn_class | append: 'flickity-custom-btn--4'
	endif
	
%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.spacing_mobile }}px;
    padding-top: {{ section.settings.spacing_mobile }}px;
  }

  @media screen and (min-width: 960px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.spacing_desktop }}px;
      padding-top: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}

{{ 'component-product-grid.css' | asset_url |stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url |stylesheet_tag }}

<div class="featured-collection section-{{ section.id }}-padding {{ background_color }}">
	<div class="container">
		{%- if title != blank -%}
			<h2 class="featured-collection__title {{ title_size }} text-center">{{ section.settings.title }}</h2>
		{%- endif -%}
		<div class="product-grid text-center {{ carousel_class }} {{ flickity_btn_class }}">
			{% for product in collection.products limit: limit %}
				{%- render 'product-item', product: product, columns: desktop_cols, class: '' -%}
			{% else %}
				{% for i in (1..limit) %}
					{%- render 'product-item' -%}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>


{%- if carousel_destop -%}
	{{ 'component-flickity.css' | asset_url | stylesheet_tag }}
	{{ 'flickity.pkgd.min.js'   | asset_url | script_tag }}

	<script>
		const feature_carousel = new Flickity( '.js-featured-collection-carousel', {
			wrapAround: true,
			freeScroll: true,
			cellAlign: 'left',
			arrowShape: {
				x0: 25,
				x1: 50, y1: 30,
				x2: 65, y2: 30,
				x3: 40
			},
			pageDots: false,
		});
	</script>
{%- endif -%}


{% schema %}
	{
		"name": "t:sections.featured-collection.name",
		"tag": "section",
		"settings": [
			{
                "type": "select",
                "id": "background_color",
                "label": "t:sections.all.background_color.label",
                "options": [
                    { 
                        "value": "bg-none",
                        "label": "t:sections.all.background_color.options__1.label" 
                    },
                    { 
                        "value": "bg-red",
                        "label": "t:sections.all.background_color.options__2.label" 
                    },
                    { 
                        "value": "bg-blue",
                        "label": "t:sections.all.background_color.options__3.label" 
                    },
                    { 
                        "value": "bg-purple",
                        "label": "t:sections.all.background_color.options__4.label"
                     }
                ],
                "default": "bg-none"
            },
			{
                "type": "range",
                "id": "spacing_desktop",
                "label": "t:sections.all.spacing.desktop.label",
                "info": "t:sections.all.spacing.desktop.info",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 5,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "t:sections.all.spacing.mobile.label",
                "info": "t:sections.all.spacing.mobile.info",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            },
			{
				"type": "text",
				"id": "title",
				"label": "t:sections.all.block_content.title.label",
				"default": "Featured Collection"
			},
			{
				"type": "select",
				"id": "title_size",
				"label": "t:sections.all.block_content.title.title_size",
				"options": [
					{ "value": "h1", "label": "H1" },
					{ "value": "h2", "label": "H2" },
					{ "value": "h3", "label": "H3" },
					{ "value": "h4", "label": "H4" },
					{ "value": "h5", "label": "H5" },
					{ "value": "h6", "label": "H6" },
					{ "value": "h7", "label": "H7" }
				],
				"default": "h1"
			},
			{
				"type": "header",
				"content": "t:sections.featured-collection.settings.collection_header.content"
			},
			{   
				"type": "collection",
				"id": "collection",
				"label": "t:sections.featured-collection.settings.collection.label"
			},
			{
				"type": "range",
				"id": "limit",
				"label": "t:sections.featured-collection.settings.number_products.label",
				"min": 1,
				"max": 16,
				"default": 5,
				"step": 1,
				"unit": "p"
			},
			{
                "type": "range",
                "id": "desktop_cols",
                "label": "t:sections.featured-collection.settings.columns_desktop.label",
                "min": 2,
                "max": 5,
                "default": 4,
                "step": 1,
                "unit": "col"
            },
			{
				"type": "checkbox",
				"id": "carousel_destop",
				"label": "t:sections.featured-collection.settings.swipe_on_destop.label",
				"default": true
			}
		],
		"presets": [
			{
				"name": "t:sections.featured-collection.name",
				"category": "Featured"
			}
		]
	}
{% endschema %}
