{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-social-media.css' | asset_url | stylesheet_tag }}

<section class="site-footer">
    <div class="container">
        <div class="site-footer__content">
            {%- render 'footer-links', footer_links: section.settings.footer_menu -%}

            <div class="site-footer__column site-footer__column--newsletter">
                {%- render 'newsletter-form', 
                    show_newsletter: section.settings.show_newsletter, 
                    newsletter_title: section.settings.newsletter_title, 
                    newsletter_class: 'newsletter--footer',
                    newsletter_title_class: 'site-footer__column-title' 
                -%}

                {%- unless section.settings.show_payment_logos == false or shop.enabled_payment_types == empty -%}
                    <span class="site-footer__payment-text text-light h5">{{ 'sections.footer.payment' | t }}</span>
                    <ul class="site-footer__payment">
                        {%- for type in shop.enabled_payment_types -%}
                            <li class="site-footer__payment-item">
                                {{- type | payment_type_svg_tag: class:'site-footer__payment-icon' -}} 
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endunless -%}
              </div>
        </div>

        <div class="site-footer__bottom">
            {%- unless section.settings.copyright_text == blank -%}       
                <p class="site-footer__copyright">
                    {%- if section.settings.copyright_logo_svg != blank -%}
                        <span class="site-footer__copyright-icon">
                            {{ section.settings.copyright_logo_svg }}
                        </span> 
                    {%- endif -%}
                    <span class="site-footer__copyright-text">{{ section.settings.copyright_text }}</span>
                </p>
            {%- endunless -%}

            {%- unless section.settings.show_payment_logos == false or shop.enabled_payment_types == empty -%}
                <ul class="site-footer__payment">
                    {%- for type in shop.enabled_payment_types -%}
                        <li class="site-footer__payment-item">
                            {{- type | payment_type_svg_tag: class:'site-footer__payment-icon' -}} 
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endunless -%}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Footer",
    "class": "footer",
    "tag": "footer",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_payment_logos",
            "label": "Show Payment Logos",
            "default": true
        },
        {
            "type": "header",
            "content": "Newsletter"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "label": "Show Newsletter",
            "default": true
        },
        {
            "type": "text",
            "id": "newsletter_title",
            "label": "Newsletter Title",
            "default": "Newsletter"
        },
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "info": "Each parent link will have its own column. Advised 3 maximum. If enabled, payment icons will appear under the last column."
        },
        {
            "type": "header",
            "content": "Copyright"
        },
        {
            "type": "textarea",
            "id": "copyright_logo_svg",
            "label": "Logo - SVG"
        },
        {
            "type": "text",
            "id": "copyright_text",
            "label": "Copyright Text",
            "default": "© 2012-2022 Stelly Australia. All Rights Reserved."
        }
    ]
  }
{% endschema %}