{%- liquid
    assign block_size = section.blocks.size
    assign carousel = section.settings.ue_carousel
    assign spacing_desktop = section.settings.spacing_desktop
    assign spacing_mobile = section.settings.spacing_mobile
-%}

{%- if block_size > 0 -%}
    {{ 'section-hero-banner.css' | asset_url | stylesheet_tag }}

    <div class="hero-banner container">
        <div class="hero-banner__container">
            {%- for block in section.blocks -%}
                {%- liquid
                    assign background_img = block.settings.bg_img | img_url: 'master'
                    assign sale_img_small = block.settings.sale_small
                    assign sale_img_large = block.settings.sale_large
                    assign bg_style       = ''

                    unless background_img contains 'no-image'
                        assign bg_style = 'style="background-image: url(*);"' | replace: '*', background_img
                    endunless
                -%}
                <div class="hero-banner__slide" {{ bg_style}}>
                    <div class="hero-banner__slide-inner">
                        {%- if sale_img_small != nil or sale_img_large != nil -%}
                            <div class="hero-banner__sales">
                                <div class="hero-banner__sales-inner">
                                    <picture class="hero-banner__sales-small">
                                        <img class="image__img image__img--full" src="{{ sale_img_small | image_url: width: 122 }}" alt="{{ sale_img_small.alt }}">
                                    </picture>
                                    <picture class="hero-banner__sales-large">
                                        <img class="image__img image__img--full" src="{{ sale_img_large | image_url: width: 137 }}" alt="{{ sale_img_large.alt }}">
                                    </picture>
                                </div>
                            </div>
                        {%- endif -%}
                        <div class="hero-banner__content">
                            {%- render 'ob-content', block: block, button_class: "button--hero-banner", class: 'hero-banner' -%}
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
{%- endif -%}


{%- schema -%}
    {
        "name": "Hero",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "ue_carousel",
                "label": "Use Carousel",
                "options": [
                    { "value": "yes", "label": "Yess" },
                    { "value": "no", "label": "No" }
                ],
                "default": "yes"
            },
            {
                "type": "range",
                "id": "spacing_desktop",
                "label": "Desktop Margin",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 2,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "Mobile Margin",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            }
        ],
        "blocks": [
            {
                "name": "Banner",
                "type": "banner",
                "settings": [
                    {
                        "type": "header",
                        "content": "Background Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "bg_img",
                        "label": "Background Image"
                    },
                    {
                        "type": "header",
                        "content": "Sale Images"
                    },
                    {
                        "type": "image_picker",
                        "id": "sale_small",
                        "label": "Sale Image Small"
                    },
                    {
                        "type": "image_picker",
                        "id": "sale_large",
                        "label": "Sale Image Large"
                    },
                    {
                        "type": "header",
                        "content": "Content - Setting"
                    },
                    {
                        "type": "select",
                        "id": "content_position",
                        "label": "Position",
                        "options": [
                            { "value": "located", "label": "Located on the image" },
                            { "value": "below", "label": "Below the image" },
                            { "value": "above", "label": "Above the image" }
                        ],
                        "default": "located"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "Vertical",
                        "options": [
                            { "value": "top", "label": "Top" },
                            { "value": "middle", "label": "Middle" },
                            { "value": "bottom", "label": "Bottom" }
                        ],
                        "default": "middle",
                        "info": "Use for Located on the image"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "Horizontal",
                        "options": [
                            { "value": "left", "label": "Left" },
                            { "value": "center", "label": "Center" },
                            { "value": "right", "label": "Right" }
                        ],
                        "default": "center"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "select",
                        "id": "content_color",
                        "label": "Text Color",
                        "options": [
                            { "value": "text-light", "label": "Light" },
                            { "value": "text-dark", "label": "Dark" }
                        ],
                        "default": "text-dark"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "Title - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h2"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "Subtitle - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h7"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "Body",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "Body - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h7"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "CTA - Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "CTA - Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{%- endschema -%}