{%- liquid
    assign blocks_size = section.blocks.size
    assign background_color = section.settings.background_color
    assign background_image = section.settings.background_image | img_url: 'master'
    assign container_class = ''

    if section.settings.max_width == 'full'
        assign container_class = 'container--full'
    endif

    assign section_style = 'style="'

    unless background_image contains 'no-image'
        assign background_image = "background-image: url(image_url);" | replace: 'image_url', background_image
        assign section_style = section_style | append: background_image
    endunless

    if background_color != ''
        assign background_color = 'background-color: #' | replace: '#', background_color
        assign section_style = section_style | append: background_color
    endif

    assign section_style = section_style | append: '"'
-%}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.spacing_mobile }}px;
    padding-top: {{ section.settings.spacing_mobile }}px;
  }

  @media screen and (min-width: 960px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.spacing_desktop }}px;
      padding-top: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}

{%- if blocks_size > 0 -%} 
    {{ 'section-banner.css' | asset_url | stylesheet_tag }}
    <div class="banner-section section-{{ section.id }}-padding" {{ section_style }}>
        <div class="container {{ container_class }}">
            <div class="flexbox">
                {%- for block in section.blocks -%} 
                    {%- if block.type contains 'content-image' -%} 
                        <div class="banner-section__image flexbox__item flexbox__item--{{ blocks_size }} flexbox__item--col">
                            <div class="banner-section__image-inner banner-section__image-inner--overlay">
                                {%- assign assign image_size = '1120x1200,560x600,560x600,560x600' -%}
                                {%- render 'ob-image', block: block, image_size: image_size -%}

                                {%- assign content_wrap_class = 'content__wrap--' | append: block.settings.content_position -%}
                                <div class="content__wrap {{ content_wrap_class }}">
                                    {%- render 'ob-content', block: block -%}
                                </div>
                            </div>
                        </div>
                    {%- endif -%}   
                {%- endfor -%} 
            </div>
        </div>
    </div>
{%- endif -%} 
{%- schema -%} 
    {
        "name": "Banner",
        "tag": "section",
        "max_blocks": 3,
        "settings": [
            {
                "type": "select",
                "id": "max_width",
                "label": "Max width",
                "options": [
                    { "value": "", "label": "Wide Width" },
                    { "value": "full", "label": "Full Width" }
                ],
                "default": ""
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "range",
                "id": "spacing_desktop",
                "label": "Desktop Margin",
                "info": "Adjust spacing below this section for desktop",
                "min": 0,
                "max": 120,
                "default": 120,
                "step": 5,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "spacing_mobile",
                "label": "Mobile Margin",
                "info": "Adjust spacing below this section for mobile",
                "min": 0,
                "max": 120,
                "default": 48,
                "step": 2,
                "unit": "px"
            }
        ],
        "blocks": [
            {
                "type": "content-image",
                "name": "Content | Image",
                "settings": [
                    {
                        "type": "header",
                        "content": "Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Primary"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Mobile"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "Image - Size",
                        "info": "Image size: 600x800, 480x480, 600x, x800, it will be cropped center"
                    },
                    {
                        "type": "text",
                        "id": "image_alt",
                        "label": "Alt Text"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Link"
                    },
                    {
                        "type": "header",
                        "content": "Content - Setting"
                    },
                    {
                        "type": "select",
                        "id": "content_position",
                        "label": "Position",
                        "options": [
                            { "value": "located", "label": "Located on the image" },
                            { "value": "below", "label": "Below the image" },
                            { "value": "above", "label": "Above the image" }
                        ],
                        "default": "located"
                    },
                    {
                        "type": "select",
                        "id": "vertical",
                        "label": "Vertical",
                        "options": [
                            { "value": "top", "label": "Top" },
                            { "value": "middle", "label": "Middle" },
                            { "value": "bottom", "label": "Bottom" }
                        ],
                        "default": "bottom",
                        "info": "Use for Located on the image"
                    },
                    {
                        "type": "select",
                        "id": "horizontal",
                        "label": "Horizontal",
                        "options": [
                            { "value": "left", "label": "Left" },
                            { "value": "center", "label": "Center" },
                            { "value": "right", "label": "Right" }
                        ],
                        "default": "center"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "select",
                        "id": "content_color",
                        "label": "Text Color",
                        "options": [
                            { "value": "text-light", "label": "Light" },
                            { "value": "text-dark", "label": "Dark" }
                        ],
                        "default": "text-light"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Banner"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "Title - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h5"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "select",
                        "id": "subtitle_size",
                        "label": "Subtitle - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h6"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "Body"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "Body - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" }
                        ],
                        "default": "h6"
                    },
                    {
                        "type": "text",
                        "id": "cta_text",
                        "label": "CTA - Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "cta_style",
                        "label": "CTA - Style",
                        "options": [
                            { "value": "", "label": "Primary " },
                            { "value": "solid", "label": "Solid" },
                            { "value": "secondary", "label": "Secondary" }
                        ],
                        "default": ""
                    },
                    {
                        "type": "url",
                        "id": "cta_link",
                        "label": "CTA - Link"
                    }                      
                ]
            }
        ],
        "presets": [{
            "name": "Banner",
            "category": "Banner",
            "blocks": [
                {
                    "type": "content-image"
                },
                {
                    "type": "content-image"
                },
                {
                    "type": "content-image"
                }
            ]
        }]
    }
{%- endschema -%} 